/bin*
.*
sbolt-log.txt
sbolt.properties
.project
.classpath
java/sbolt-log.txt
java/sbolt.properties
java/.classpath
java/.project
rosie.config
java/rosie.jar
java/build.xml
java/*.log
java/soarerror
agent/.project
*~
*.txt
*.orig
java/lib
audio_files/forward.raw
test.wav