/bin*
*.script
agent/_agent/language-comprehension/comprehension/test-sentences/*.soar
agent/_agent/game-scripts/
.*
agent/*.soaragent
sbolt-log.txt
sbolt.properties
.project
.classpath
agent/.project
java/sbolt-log.txt
java/sbolt.properties
java/.classpath
java/.project
rosie.config
java/rosie.jar
java/build.xml
java/*.log
java/soarerror
agent/.project
*~
*.txt
*.orig
*.csv
*.jar
*.preparse
java/lib
audio_files/forward.raw
test.wav
