/bin*

agent/game-scripts/world-generator/interpret-game-state-change.soar
agent/game-scripts/world-generator/#interpret-game-state-change.soar#
agent/game-scripts/soar-game.script
agent/game-scripts/soar-game.soar
agent/game-scripts/solution.txt
agent/game-scripts/pertaskstats.txt
agent/game-scripts/smem.txt
agent/game-scripts/smemuse.txt
agent/game-scripts/chunks.txt
agent/game-scripts/stat*
agent/game-scripts/*.top
agent/game-scripts/*.chunks
agent/game-scripts/*.decisions
agent/game-scripts/*.states
agent/game-scripts/*.tstats
agent/game-scripts/*.solution
agent/game-scripts/*.seconds
agent/game-scripts/*.txt
scripts/game-scripting/*
scripts/*.script


agent/language-comprehension/comprehension/test-sentences/*.soar
agent/language-comprehension/comprehension/test-sentences/*.script
.*
agent/*.soaragent
sbolt-log.txt
sbolt.properties
*/.project
.classpath
java/sbolt-log.txt
java/sbolt.properties
java/.classpath
rosie.config
java/rosie.jar
java/build.xml
java/*.log
java/soarerror
*~
*.orig
*.csv
*.jar
*.preparse
java/lib
audio_files/forward.raw
test.wav
tools/java/bin/*
tools/java/rosie-tools.jar
test-agents/*/agent*

