agent-name = rosie
agent-source = /home/mininger/rosie-project/rosie/agent/_agent/_agent_source.soar
smem-source = /home/mininger/rosie-project/rosie/agent/_agent/init-smem/init-smem_source.soar

spawn-debugger = true
write-to-stdout = false

decision-throttle-ms = 0

enable-log = false
watch-level = 1

messages-file = rosie/scripts/fetch.script

object-info-file = probcog/worlds/objects/iros16.info
map-info-file = probcog/worlds/maps/iros16.map

