agent = agent/_agent/_agent_source.soar
smem-source = agent/_agent/init-smem/init-smem_source.soar

enable-lgsoar = true
language-productions = java/language/soarcode/load.soar
lgsoar-dictionary = java/language/data/link

decision-throttle-ms = 1 

enable-log = true
watch-level = 1

# Path to probcog config file (optional)
# arm-config = /home/aaron/research/probcog/config/probcog.config

