agent = agent/_agent/_agent_source.soar
smem-source = agent/_agent/init-smem/init-smem_source.soar

enable-lgsoar = true
language-productions = java/language/soarcode/load.soar
lgsoar-dictionary = java/language/data/link

dictionary-file = java/src/edu/umich/insoar/language/dictionary.txt
grammar-file = java/src/edu/umich/insoar/language/grammar.xml

decision-throttle-ms = 1 

enable-log = true
watch-level = 1

arm-config = /home/aaron/research/probcog/config/probcog.config

