agent = agent/explanation-agent.soar
smem-source = agent/smem_source.soar

enable-lgsoar = true
language-productions = java/language/soarcode/load.soar
lgsoar-dictionary = java/language/data/link

decision-throttle-ms = 10

enable-log = true
watch-level = 1
