agent-name = tabletop-learn-move

agent-source = /home/aaron/sf/research/rosie-project/rosie/test-agents/tabletop-learn-move/source_tabletop-learn-move.soar
smem-source = /home/aaron/sf/research/rosie-project/rosie/test-agents/tabletop-learn-move/smem_source_tabletop-learn-move.soar

write-to-stdout = false
spawn-debugger = true
broadcast-output = false
watch-level = 1
enable-log = false
send-svs-info = false
decision-throttle-ms = 0
verbose = true
