agent-name = tabletop-learn-move

domain = tabletop

sentence-source = scripts

# Other settings

verbose = true

spawn-debugger = true

write-to-stdout = false
enable-log = false
broadcast-output = false
watch-level = 1

decision-throttle-ms = 0

send-svs-info = false

#object-info-file = probcog/worlds/objects/H-layout.info
#map-info-file = probcog/worlds/maps/H-layout.map


