agent-name = rosie
agent-source = agent/_agent_source.soar
smem-source = agent/init-smem/init-smem_source.soar

world-usage = internal

spawn-debugger = true
write-to-stdout = false

decision-throttle-ms = 0

enable-log = false
watch-level = 1

messages-file = agent/lucia/scripts/green-sphere.script

object-info-file = probcog/worlds/objects/iros16.info
map-info-file = probcog/worlds/maps/iros16.map

